opencv.sdf
opencv.VC.db
opencv.VC.VC.opendb
README
Debug
Release
.vs
opencv.sln
opencv\pic2
opencv\Debug
opencv\Release

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app